* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: cadetblue;
}

/* header of the file */
header {
  margin: 10px;
  height: 10rem;
}

header #name {
  display: inline;
  float: left;
  margin: 3.5rem;
}

header ul {
  float: inline-end;
  margin: 3.5rem;
}

header ul li {
  display: inline;
  padding-right: 1rem;
  font-size: 2rem;
}

header ul a,
.content ul a {
  color: black;
}

/* main */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

#subtitle {
  display: flex;
  background-image: url("../images/subtitle.jpg");
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100%;
  border-radius: 10px;
}

#subtitle section {
  position: relative;
  top: 50%;
  left: 90%;
}

.main-content {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
  margin: 0.25rem;
  width: 100%;
  background-color: aquamarine;
  border-radius: 10px;
}

.content h2 {
  font-size: 3rem;
}

.main-content .content h2 {
  display: inline-block;
  position: relative;
  text-align: center;
}

.main-content .content p {
  font-size: 2rem;
  margin: auto;
  padding: 8px;
  text-align: justify;
  border-radius: 10px;
}

/* work experience */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* images in work experience */
#mern1 {
  position: relative;
  text-align: center;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

.column1 {
  position: relative;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1rem 2rem 1rem 2rem;
  width: 40%;
}

.bottom-left {
  position: absolute;
  color: white;
  margin-bottom: 2rem;
  background-color: black;
  border: 1px solid black;
  border-radius: 8px;
  bottom: 1.5rem;
}

/* hovering */
.column1:hover {
  filter: brightness(70%);
  box-shadow: inset 0px 0px 100rem cadetblue, 0 0 3rem cadetblue;
}

.task:hover {
  box-shadow: inset 0px 0px 100rem cadetblue, 0 0 4rem cadetblue;
}

header ul a:hover,
.content ul a:hover {
  color: blueviolet;
  font-size: 2.5rem;
}

/* contact me */

.content ul li {
  list-style: none;
  display: inline-block;
  padding: 10px;
  position: relative;
  left: 38%;
}

/* footer */
footer {
  border-top: 1px solid black;
  text-align: center;
  background-color: cadetblue;
}

/* mobile version */
@media screen and (max-width: 768px) {
  header #name,
  header ul {
    float: none;
    text-align: center;
    margin: auto;
  }

  .column1 {
    margin: 1rem;
  }

  #subtitle section {
    position: relative;
    top: 50%;
    left: 40%;
  }

  .column1 {
    margin: 1.5rem;
    flex: 1 0 100%;
    justify-content: flex-start;
    max-width: 100%;
  }
}
